body {
    background-color: blue;
    color: #fff;
    font-family: monospace;
}
a {
    color: #fff;
}
a:hover {
    color: #000;
    background-color: #fff;

}
footer {
    position: fixed;
    bottom: 0;
    padding: 15px;
    border-top: 1px solid #fff;
    width: 100%;

    .information {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
    }
}